extends layout
block content
 div(ng-app='myApp')
  div(ng-controller='LoginCtrl')
    div.alert.alert-danger(ng-show="error") {{error}}
    form(name="loginForm" ng-submit="login()" role="form")
     div.form-group
        label(for="username") Username
        i.fa.fa-key
        input.form-control#username(type="text" name="username" ng-model="username" placeholder='-- User Name --' required)
        span.help-block(ng-show="loginForm.username.$dirty && loginForm.username.$error.required") Username is required
     div.form-group
        label(for="password") Password
        i.fa.fa-lock
        input.form-control#password(type="password" name="password" ng-model="password" required placeholder = '-- Password --') 
        span.help-block(ng-show="loginForm.password.$dirty && loginForm.password.$error.required") Password is required
     div.form-actions
        button.btn.btn-danger(type="submit" ng-disabled="loginForm.$invalid || dataLoading") Login
 h3
  a(href="/sign-up") Register 
