link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css" rel="stylesheet")
link(href="/pram/lib/jquery/jquery-ui-1.11.4.css" rel="stylesheet")
link(href="/pram/lib/jquery/jquery.dataTables.min.css" type="text/css" rel="stylesheet")
limk(href="/pram/shared/css/custom_bootstrap.css" type="text/css" rel="stylesheet")
link(href="/pram/lib/bootstrap/bootstrap-multiselect.min.css")
link(href="/pram/lib/css/LampLite.css")
link(href="/pram/public/css/custom.css")
