extends layout
block content
 div(ng-app="")
  div(ng-controller="HomeCtrl")
    {{ title }}
    p.
      Permission: {{ permissions }}
    hr
    table.table(style='width:100%', border=1, height='50%')
      thead
        tr(ng-repeat="option in options")
          td
            a(href='/{{ option }}')
              button(value=option, style='width:100%')
                 img(src='/images/{{ option }}.png', style='width:200px')
    hr


